button {
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 5px;
  font-size: medium;
  font-weight: 500;
  font-family: inherit;
  background-color: #d9dcff;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 0 4px;
}
button.selected{
  background-color: #004f95;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}