body{
  background: linear-gradient(135deg, #f4faff 0%,#aed4f9 53%,#80bcfc 93%,#79bffc 100%);
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
  padding: 15px;
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  z-index: 10;
}

#depositDiv {
  background-color: #4859FE;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px 10px;
  font-size: x-large;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.37);
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

#depositDiv input{
  font-size: x-large;
  background-color: #d9dcff;
  border: none;
  border-radius: 3px;
}

p {
  margin: 0;
}