table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0px 0px 21px 12px rgba(22, 53, 128, 0.23);
  width: 80vw;
  margin-top: 50px;
  min-width: 700px;
  max-width: 1000px;
  text-align: center;
  margin: 80px auto;
}
th, td {
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th{
  color: white;
}
thead {
  box-shadow: 0px 0px 21px 12px rgba(72, 89, 254, 0.73);
}
thead th {
  background-color: #4859FE;
}
tbody {
  background-color: #00000024;
}
.bankLogo img{
  max-width: 80px;
  max-height: 40px;
}
tr:nth-child(even){
  background-color: #00000012;
}
.bank {
  color: white;
}
.bestBank {
  background-color: #ffffff70;
  color: black;
}
.bestBank:nth-child(even) {
  background-color: #e1e1e180;
  color: black;
}
thead th:last-child{
  border-right: inset;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #4859FE;
}
.bank td:last-child{
  border-right: inset;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #7b7b7b;
}