body{
  background: linear-gradient(135deg, #f4faff 0%,#aed4f9 53%,#80bcfc 93%,#79bffc 100%);
  margin: 0;
  min-height: 100vh;
}

h1 {
  font-size: 1.6em;
  line-height: 1.1;
  padding: 15px;
  background-color: white;
  margin: 0;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  z-index: 10;
}

#depositDiv {
  background-color: #4859FE;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px 10px;
  font-size: x-large;
  box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.37);
  position: relative;
}
#depositDiv input{
  font-size: x-large;
  background-color: #d9dcff;
  border: none;
  border-radius: 3px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  margin: 0;
}
table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0px 0px 21px 12px rgba(22, 53, 128, 0.23);
  width: 80vw;
  margin-top: 50px;
  min-width: 700px;
  max-width: 1000px;
  text-align: center;
  margin: 80px auto;
}
th, td {
  padding: 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
th{
  color: white;
}
thead {
  box-shadow: 0px 0px 21px 12px rgba(72, 89, 254, 0.73);
}
thead th {
  background-color: #4859FE;
}
tbody {
  background-color: #00000024;
}
.bankLogo img{
  max-width: 80px;
  max-height: 40px;
}
tr:nth-child(even){
  background-color: #00000012;
}
.bank {
  color: white;
}
.bestBank {
  background-color: #ffffff70;
  color: black;
}
.bestBank:nth-child(even) {
  background-color: #e1e1e180;
  color: black;
}
thead th:last-child{
  border-right: inset;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #4859FE;
}
.bank td:last-child{
  border-right: inset;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #7b7b7b;
}